@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var userName = UserManager.GetUserName(User) ?? "";
}

@if (SignInManager.IsSignedIn(User))
{
    <span>@userName</span>
    <a asp-controller="Account" asp-action="Logout">ログアウト</a>
}
else
{
    <a asp-controller="Account" asp-action="Login">ログイン</a>
    <a asp-controller="Account" asp-action="Register">新規登録</a>
}